body {
  background: #e46868;
}

.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: rgb(251, 77, 77);
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

.gender {
  margin-top: 8px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: rgb(77, 22, 32);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: rgb(17, 1, 4);
  color: white;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}
.hero {
  text-align: center;
  padding: 60px 20px;
  background: rgb(251, 77, 77);
  color: black;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: white;
  color: rgb(77, 22, 32);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.hero .btn:hover {
  background: #e88c8c;
}

section {
  width: 80%;
  margin: 40px auto;
}

footer {
  text-align: center;
  padding: 15px;
  background: rgb(251, 77, 77);
}
